<ul class="ch-grid">
    <li>
        <div class="ch-item ch-img-1">
            <div class="ch-info">
                <h3>Kurtas</h3>
                <p>by Siya Collections </p>
            </div>
        </div>
    </li>
    <li>
        <div class="ch-item ch-img-2">
            <div class="ch-info">
                <h3>Lehengas</h3>
                <p>by Siya Collections </p>
            </div>
        </div>
    </li>
    <li>
        <div class="ch-item ch-img-3">
            <div class="ch-info">
                <h3>Sarees</h3>
                <p>by Siya Collections </p>
            </div>
        </div>
    </li>
    <li>
        <div class="ch-item ch-img-4">
            <div class="ch-info">
                <h3>Dress Material</h3>
                <p>by Siya Collections</p>
            </div>
        </div>
    </li>
    <li>

        <div class="ch-item ch-img-5" routerLink="bedsheets">
            <div class="ch-info">
                <h3>Salwar kameez</h3>
                <p>by Siya Collections </p>
            </div>
        </div>

    </li>

</ul>